{% extends 'home.html' %}
{% block content %}
<h2>Heja, hejka {{ request.user.username }}</h2>
<h4>Dodanych produktów: {{ products|length }}</h4>
<div>
    {% for product in products %}
        <a href="/delete_product/{{ product.id }}"><button type="button" class="btn btn-danger btn-xs">X</button></a>
        <a href="/modify_product/{{ product.id }}"><button type="button" class="btn btn-default btn-xs">Edytuj</button></a>
        <a href="/product_details/{{ product.id }}">{{ product.name }}</a><br>
    {% endfor %}
</div>
{% endblock %}
